<html>
    <head>
    </head>
    <body>
        <div id="header">
            <h1>
                Open Campus 2022
            </h1>
        </div>
        <div id="main">
            <a href="#">
                <button id="start">START</button>
            </a>
            <a href="#">
                <button id="stop">STOP</button>
            </a>
        </div>
        <div id="footer">
            <p>
                © 2022 Information Security Lab.
            </p>
        </div>
    </body>
</html>