<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Open Campus 2022</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
    </head>
    <body>
        <div id="header">
            <h1>
                Open Campus 2022
            </h1>
        </div>
        <div id="main">
            <div id="button_area">
                <div class="mybutton">
                    <!-- ****** KADAI ****** -->          
                    
                    <p>
                        buttonタグでSTARTボタンを作成しましょう．
                        button作成時にonclick属性に"buttonStart()"をつなぐと，pythonプログラムと連動するようになります．
                        ※おまけ：class属性をmybuttonに，id属性をbutton_startにすると，CSSが反応します．
                    </p>

                    <!-- ******************* -->
                </div>
            </div>
        </div>
        <div id="footer">
            <p>
                © 2022 Information Security Lab.
            </p>
        </div>
    </body>
    <script>
        const inputElem = document.getElementById('slider');
        const currentValueElem = document.getElementById('range_value');
        let buttonStartStop = 0;
        const xhr = new XMLHttpRequest();

        const setCurrentValue = (val) => {
            currentValueElem.innerText = val;
            postMethodAngle(inputElem.value);
        }

        const rangeOnChange = (e) => {
            setCurrentValue(e.target.value);
        }

        const buttonStart = () => {
            console.log(buttonStartStop);
            document.location = "/start";
        }

        const buttonStop = () => {
            console.log(buttonStartStop);
            document.location = "/";
        }

        const postMethodAngle = (data) => {
            let objData = new Object();
            objData.angleValue = data;
            const jsonData = JSON.stringify(objData);
            // console.log(jsonData);
            xhr.open("POST", "/start");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onload = () => {
                console.log(xhr.status);
                console.log("success!");
            };
            xhr.onerror = () => {
                console.log(xhr.status);
                console.log("error!");
            };
            xhr.send(jsonData);
        }

        window.onload = () => {
            inputElem.addEventListener("input", rangeOnChange);
            setCurrentValue(inputElem.value);
        }

        inputElem.addEventListener("onchange", postMethodAngle(inputElem.value))
    </script>
</html>
