<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Open Campus 2022</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css" />
    </head>
    <body>
        <div id="header">
            <h1>
                Open Campus 2022
            </h1>
        </div>
        <div id="main">
            <div id="slider_area">
                <h2>
                    角度調整
                </h2>
                <p>
                    ここにrangeを作成する
                    idはsliderにし，値は[-4, 4]の整数値とする
                </p>
            </div>
            <div id="button_area">
                <h2>
                    モータのOFFボタン
                </h2>
                <p>
                    ここにbuttonを作成する
                    stop用のボタンのidはbutton_stopにすること
                    mybuttonというクラスを使用すると，cssが反応する
                </p>
            </div>
        </div>
        <div id="footer">
            <p>
                © 2022 Information Security Lab.
            </p>
        </div>
    </body>
    <script>
        const inputElem = document.getElementById('slider');
        const currentValueElem = document.getElementById('range_value');
        let buttonStartStop = 0;
        const xhr = new XMLHttpRequest();

        const setCurrentValue = (val) => {
            currentValueElem.innerText = val;
            postMethodAngle(inputElem.value);
        }

        const rangeOnChange = (e) => {
            setCurrentValue(e.target.value);
        }

        const buttonStart = () => {
            if (buttonStartStop === 0) {
                buttonStartStop = 1;
                console.log(buttonStartStop);
                document.location = "/start";
            }
        }

        const buttonStop = () => {
            if (buttonStartStop === 1) {
                buttonStartStop = 0;
                console.log(buttonStartStop);
                document.location = "/";
            }
        }

        const postMethodAngle = (data) => {
            let objData = new Object();
            objData.angleValue = data;
            const jsonData = JSON.stringify(objData);
            xhr.open("POST", "/start");
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onerror = () => {
                console.log(xhr.status);
                console.log("error!");
            };
            xhr.send(jsonData);
        }

        window.onload = () => {
            inputElem.addEventListener("input", rangeOnChange);
            setCurrentValue(inputElem.value);
        }

        inputElem.addEventListener("onchange", postMethodAngle(inputElem.value))
    </script>
</html>